body {
    margin-top: 0px;
    margin-left: 0px;
}

.ft0 {
    font: 16px 'Calibri Light';
    line-height: 19px;
}

.ft1 {
    font: bold 12px 'Times New Roman Bold';
    color: #000080;
    line-height: 15px;
}

.ft2 {
    font: bold 11px 'Verdana Bold';
    color: #333333;
    line-height: 12px;
}

.ft3 {
    font: bold 11px 'Verdana Bold';
    color: #333333;
    line-height: 12px;
}

.ft4 {
    font: 1px 'Verdana';
    line-height: 1px;
}

.ft5 {
    font: bold 8px 'Verdana Bold';
    color: #333333;
    line-height: 10px;
}

.ft6 {
    font: 9px 'Verdana';
    color: #333333;
    line-height: 8px;
}

.ft7 {
    font: 8px 'Verdana';
    color: #333333;
    line-height: 10px;
}

.ft8 {
    font: 9px 'Verdana';
    color: #333333;
    line-height: 12px;
}

.ft9 {
    font: 9px 'Verdana';
    color: #ff0000;
    line-height: 8px;
}

.ft10 {
    font: 1px 'Verdana';
    line-height: 4px;
}

.ft11 {
    font: 1px 'Verdana';
    line-height: 5px;
}

.ft12 {
    font: bold 11x 'Verdana Bold';
    line-height: 8px;
}

.ft13 {
    font: bold 8px 'Verdana Bold';
    line-height: 10px;
}

.ft14 {
    font: bold 7px 'Verdana Bold';
    color: #333333;
    line-height: 8px;
}

.ft15 {
    font: 16px 'Calibri Light';
    line-height: 16px;
}

.ft16 {
    font: bold 10px 'Verdana Bold';
    line-height: 12px;
}

.ft17 {
    font: bold 9px 'Verdana Bold';
    line-height: 12px;
}

.p0 {
    text-align: right;
    padding-right: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.p1 {
    text-align: left;
    padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.p2 {
    text-align: center;
    /* padding-left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;*/
    white-space: pre-wrap;
}

.p3 {
    text-align: left;
    padding-left: 9px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: pre-wrap;
}

.p4 {
    text-align: left;
    padding-left: 4px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: pre-wrap;
}

.p5 {
    text-align: left;
    padding-left: 6px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: pre-wrap;
}

.p6 {
    text-align: left;
    padding-left: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: pre-wrap;
}

.p7 {
    text-align: left;
    padding-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: pre-wrap;
}

.p8 {
    text-align: left;
    padding-left: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: pre-wrap;
}

.p9 {
    text-align: left;
    padding-left: 3px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: pre-wrap;
}

.p10 {
    text-align: left;
    padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: pre-wrap;
}

.p11 {
    text-align: left;
    padding-left: 7px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: pre-wrap;
}

.p12 {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: pre-wrap;
}

.p13 {
    text-align: center;
    padding-right: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: pre-wrap;
}

.p14 {
    text-align: center;
    /*padding-right: 1px;
    margin-top: 0px;
    margin-bottom: 0px;*/
    white-space: pre-wrap;
}

.p15 {
    text-align: center;
    padding-left: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: pre-wrap;
}

.p16 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: pre-wrap;
}

.p17 {
    text-align: right;
    padding-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: pre-wrap;
}

.p18 {
    text-align: right;
    margin-top: 0px;
    margin-bottom: 0px;
}

.p19 {
    text-align: right;
    padding-right: 22px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: pre-wrap;
}

.td0 {
    border-left: #666666 1px solid;
    border-right: #666666 1px solid;
    border-top: #666666 1px solid;
    /*/*padding: 0px;
    margin: 0px;
    width: 31px;
    */vertical-align: middle;
    background: #dedede;
}

.td1 {
    border-right: #666666 1px solid;
    border-top: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 58px;
    */vertical-align: middle;
    background: #dedede;
}

.td2 {
    border-right: #666666 1px solid;
    border-top: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 47px;
    */vertical-align: middle;
    background: #dedede;
}

.td3 {
    border-right: #666666 1px solid;
    border-top: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 25px;
    */vertical-align: middle;
    background: #dedede;
}

.td4 {
    border-right: #666666 1px solid;
    border-top: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 37px;
    */vertical-align: middle;
    background: #dedede;
}

.td5 {
    border-right: #666666 1px solid;
    border-top: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 46px;
    */vertical-align: middle;
    background: #dedede;
}

.td6 {
    border-right: #666666 1px solid;
    border-top: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 56px;
    */vertical-align: middle;
    background: #dedede;
}

.td7 {
    border-right: #666666 1px solid;
    border-top: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 33px;
    */vertical-align: middle;
    background: #dedede;
}

.td8 {
    border-right: #666666 1px solid;
    border-top: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 38px;
    */vertical-align: middle;
    background: #dedede;
}

.td9 {
    border-right: #666666 1px solid;
    border-top: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 35px;
    */vertical-align: middle;
    background: #dedede;
}

.td10 {
    border-right: #666666 1px solid;
    border-top: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 49px;
    */vertical-align: middle;
    background: #dedede;
}

.td11 {
    border-right: #666666 1px solid;
    border-top: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 55px;
    */vertical-align: middle;
    background: #dedede;
}

.td12 {
    border-right: #666666 1px solid;
    border-top: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 67px;
    */vertical-align: middle;
    background: #dedede;
}

.td13 {
    border-right: #666666 1px solid;
    border-top: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 36px;
    */vertical-align: middle;
    background: #dedede;
}

.td14 {
    border-right: #666666 1px solid;
    border-top: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 40px;
    */vertical-align: middle;
    background: #dedede;
}

.td15 {
    border-right: #666666 1px solid;
    border-top: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 53px;
    */vertical-align: middle;
    background: #dedede;
}

.td16 {
    border-right: #666666 1px solid;
    border-top: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 43px;
    */vertical-align: middle;
    background: #dedede;
}

.td17 {
    border-left: #666666 1px solid;
    border-right: #666666 1px solid;
    border-bottom: #dedede 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 31px;
    */vertical-align: middle;
    background: #dedede;
}

.td18 {
    border-right: #666666 1px solid;
    border-bottom: #dedede 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 58px;
    */vertical-align: middle;
    background: #dedede;
}

.td19 {
    border-right: #666666 1px solid;
    border-bottom: #dedede 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 47px;
    */vertical-align: middle;
    background: #dedede;
}

.td20 {
    border-right: #666666 1px solid;
    border-bottom: #dedede 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 25px;
    */vertical-align: middle;
    background: #dedede;
}

.td21 {
    border-right: #666666 1px solid;
    border-bottom: #dedede 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 37px;
    */vertical-align: middle;
    background: #dedede;
}

.td22 {
    border-right: #666666 1px solid;
    border-bottom: #dedede 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 46px;
    */vertical-align: middle;
    background: #dedede;
}

.td23 {
    border-right: #666666 1px solid;
    border-bottom: #dedede 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 56px;
    */vertical-align: middle;
    background: #dedede;
}

.td24 {
    border-right: #666666 1px solid;
    border-bottom: #dedede 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 33px;
    */vertical-align: middle;
    background: #dedede;
}

.td25 {
    border-right: #666666 1px solid;
    border-bottom: #dedede 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 38px;
    */vertical-align: middle;
    background: #dedede;
}

.td26 {
    border-right: #666666 1px solid;
    border-bottom: #dedede 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 35px;
    */vertical-align: middle;
    background: #dedede;
}

.td27 {
    border-right: #666666 1px solid;
    border-bottom: #dedede 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 49px;
    */vertical-align: middle;
    background: #dedede;
}

.td28 {
    border-right: #666666 1px solid;
    border-bottom: #dedede 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 55px;
    */vertical-align: middle;
    background: #dedede;
}

.td29 {
    border-right: #666666 1px solid;
    border-bottom: #dedede 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 67px;
    */vertical-align: middle;
    background: #dedede;
}

.td30 {
    border-right: #666666 1px solid;
    border-bottom: #dedede 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 36px;
    */vertical-align: middle;
    background: #dedede;
}

.td31 {
    border-right: #666666 1px solid;
    border-bottom: #dedede 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 40px;
    */vertical-align: middle;
    background: #dedede;
}

.td32 {
    border-right: #666666 1px solid;
    border-bottom: #dedede 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 53px;
    */vertical-align: middle;
    background: #dedede;
}

.td33 {
    border-right: #666666 1px solid;
    border-bottom: #dedede 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 43px;
    */vertical-align: middle;
    background: #dedede;
}

.td34 {
    border-left: #666666 1px solid;
    border-right: #666666 1px solid;
    border-top: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 31px;
    */vertical-align: middle;
}

.td35 {
    border-right: #666666 1px solid;
    border-top: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 58px;
    */vertical-align: middle;
}

.td36 {
    border-right: #666666 1px solid;
    border-top: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 47px;
    */vertical-align: middle;
}

.td37 {
    border-right: #666666 1px solid;
    border-top: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 25px;
    */vertical-align: middle;
}

.td38 {
    border-right: #666666 1px solid;
    border-top: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 37px;
    */vertical-align: middle;
}

.td39 {
    border-right: #666666 1px solid;
    border-top: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 46px;
    */vertical-align: middle;
}

.td40 {
    border-right: #666666 1px solid;
    border-top: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 56px;
    */vertical-align: middle;
}

.td41 {
    border-right: #666666 1px solid;
    border-top: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 33px;
    */vertical-align: middle;
}

.td42 {
    border-right: #666666 1px solid;
    border-top: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 38px;
    */vertical-align: middle;
}

.td43 {
    border-right: #666666 1px solid;
    border-top: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 35px;
    */vertical-align: middle;
}

.td44 {
    border-right: #666666 1px solid;
    border-top: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 49px;
    */vertical-align: middle;
}

.td45 {
    border-right: #666666 1px solid;
    border-top: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 55px;
    */vertical-align: middle;
}

.td46 {
    border-right: #666666 1px solid;
    border-top: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 67px;
    */vertical-align: middle;
}

.td47 {
    border-right: #666666 1px solid;
    border-top: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 36px;
    */vertical-align: middle;
}

.td48 {
    border-right: #666666 1px solid;
    border-top: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 40px;
    */vertical-align: middle;
}

.td49 {
    border-right: #666666 1px solid;
    border-top: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 53px;
    */vertical-align: middle;
}

.td50 {
    border-right: #666666 1px solid;
    border-top: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 43px;
    */vertical-align: middle;
}

.td51 {
    border-left: #666666 1px solid;
    border-right: #666666 1px solid;
    border-bottom: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 31px;
    */vertical-align: middle;
}

.td52 {
    border-right: #666666 1px solid;
    border-bottom: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 58px;
    */vertical-align: middle;
}

.td53 {
    border-right: #666666 1px solid;
    border-bottom: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 47px;
    */vertical-align: middle;
}

.td54 {
    border-right: #666666 1px solid;
    border-bottom: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 25px;
    */vertical-align: middle;
}

.td55 {
    border-right: #666666 1px solid;
    border-bottom: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 37px;
    */vertical-align: middle;
}

.td56 {
    border-right: #666666 1px solid;
    border-bottom: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 46px;
    */vertical-align: middle;
}

.td57 {
    border-right: #666666 1px solid;
    border-bottom: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 56px;
    */vertical-align: middle;
}

.td58 {
    border-right: #666666 1px solid;
    border-bottom: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 33px;
    */vertical-align: middle;
}

.td59 {
    border-right: #666666 1px solid;
    border-bottom: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 38px;
    */vertical-align: middle;
}

.td60 {
    border-right: #666666 1px solid;
    border-bottom: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 35px;
    */vertical-align: middle;
}

.td61 {
    border-right: #666666 1px solid;
    border-bottom: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 49px;
    */vertical-align: middle;
}

.td62 {
    border-right: #666666 1px solid;
    border-bottom: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 55px;
    */vertical-align: middle;
}

.td63 {
    border-right: #666666 1px solid;
    border-bottom: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 67px;
    */vertical-align: middle;
}

.td64 {
    border-right: #666666 1px solid;
    border-bottom: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 36px;
    */vertical-align: middle;
}

.td65 {
    border-right: #666666 1px solid;
    border-bottom: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 40px;
    */vertical-align: middle;
}

.td66 {
    border-right: #666666 1px solid;
    border-bottom: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 53px;
    */vertical-align: middle;
}

.td67 {
    border-right: #666666 1px solid;
    border-bottom: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 43px;
    */vertical-align: middle;
}

.td68 {
    border-left: #666666 1px solid;
    border-right: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 31px;
    */vertical-align: middle;
}

.td69 {
    border-right: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 58px;
    */vertical-align: middle;
}

.td70 {
    border-right: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 47px;
    */vertical-align: middle;
}

.td71 {
    border-right: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 25px;
    */vertical-align: middle;
}

.td72 {
    border-right: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 37px;
    */vertical-align: middle;
}

.td73 {
    border-right: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 46px;
    */vertical-align: middle;
}

.td74 {
    border-right: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 56px;
    */vertical-align: middle;
}

.td75 {
    border-right: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 33px;
    */vertical-align: middle;
}

.td76 {
    border-right: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 38px;
    */vertical-align: middle;
}

.td77 {
    border-right: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 35px;
    */vertical-align: middle;
}

.td78 {
    border-right: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 49px;
    */vertical-align: middle;
}

.td79 {
    border-right: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 55px;
    */vertical-align: middle;
}

.td80 {
    border-right: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 67px;
    */vertical-align: middle;
}

.td81 {
    border-right: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 36px;
    */vertical-align: middle;
}

.td82 {
    border-right: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 40px;
    */vertical-align: middle;
}

.td83 {
    border-right: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 53px;
    */vertical-align: middle;
}

.td84 {
    border-right: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 43px;
    */vertical-align: middle;
}

.td85 {
    border-left: #666666 1px solid;
    border-right: #dedede 1px solid;
    border-bottom: #dedede 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 90px;
    */vertical-align: middle;
    background: #dedede;
}

.td86 {
    border-right: #dedede 1px solid;
    border-bottom: #dedede 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 47px;
    */vertical-align: middle;
    background: #dedede;
}

.td87 {
    border-right: #dedede 1px solid;
    border-bottom: #dedede 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 25px;
    */vertical-align: middle;
    background: #dedede;
}

.td88 {
    border-right: #dedede 1px solid;
    border-bottom: #dedede 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 37px;
    */vertical-align: middle;
    background: #dedede;
}

.td89 {
    border-right: #dedede 1px solid;
    border-bottom: #dedede 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 46px;
    */vertical-align: middle;
    background: #dedede;
}

.td90 {
    border-right: #dedede 1px solid;
    border-bottom: #dedede 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 56px;
    */vertical-align: middle;
    background: #dedede;
}

.td91 {
    border-right: #dedede 1px solid;
    border-bottom: #dedede 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 33px;
    */vertical-align: middle;
    background: #dedede;
}

.td92 {
    border-left: #666666 1px solid;
    border-right: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 31px;
    */vertical-align: middle;
    background: #666666;
}

.td93 {
    border-right: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 58px;
    */vertical-align: middle;
    background: #666666;
}

.td94 {
    border-right: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 47px;
    */vertical-align: middle;
    background: #666666;
}

.td95 {
    border-right: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 25px;
    */vertical-align: middle;
    background: #666666;
}

.td96 {
    border-right: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 37px;
    */vertical-align: middle;
    background: #666666;
}

.td97 {
    border-right: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 46px;
    */vertical-align: middle;
    background: #666666;
}

.td98 {
    border-right: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 56px;
    */vertical-align: middle;
    background: #666666;
}

.td99 {
    border-right: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 33px;
    */vertical-align: middle;
    background: #666666;
}

.td100 {
    border-right: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 38px;
    */vertical-align: middle;
    background: #666666;
}

.td101 {
    border-right: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 35px;
    */vertical-align: middle;
    background: #666666;
}

.td102 {
    border-right: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 49px;
    */vertical-align: middle;
    background: #666666;
}

.td103 {
    border-right: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 55px;
    */vertical-align: middle;
    background: #666666;
}

.td104 {
    border-right: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 67px;
    */vertical-align: middle;
    background: #666666;
}

.td105 {
    border-right: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 36px;
    */vertical-align: middle;
    background: #666666;
}

.td106 {
    border-right: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 40px;
    */vertical-align: middle;
    background: #666666;
}

.td107 {
    border-right: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 53px;
    */vertical-align: middle;
    background: #666666;
}

.td108 {
    border-right: #666666 1px solid;
    /*padding: 0px;
    margin: 0px;
    width: 43px;
    */vertical-align: middle;
    background: #666666;
}

.tr0 {
    height: 16px;
}

.tr1 {
    height: 18px;
}

.tr2 {
    height: 4px;
}

.tr3 {
    height: 20px;
}

.tr4 {
    height: 13px;
}

.tr5 {
    height: 15px;
}

.tr6 {
    height: 18px;
}

.tr7 {
    height: 1px;
}

.t0 {
    width: 1087px;
    margin-left: 20px;
    margin-top: 3px;
    font: 7px 'Verdana';
    color: #333333;
}

.t1 {
    width: 1087px;
    margin-left: 20px;
    margin-top: 2px;
    font: 7px 'Verdana';
    color: #333333;
}
