################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/.vs/SunriseWeb/config/applicationhost.config
/.vs/SunriseWeb/FileContentIndex/7f104bbb-baa7-48ea-b62d-d0a0dc6efa18.vsidx
/.vs/SunriseWeb/v17/.suo
/.vs/SunriseWeb/v17/fileList.bin
/DAL/obj/Debug/DAL.csproj.AssemblyReference.cache
/DAL/obj/Debug/DAL.csproj.CoreCompileInputs.cache
/DAL/obj/Debug/DAL.csproj.FileListAbsolute.txt
/DAL/obj/Debug/DAL.dll
/DAL/obj/Debug/DAL.pdb
/DAL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/DAL/bin/Debug/DAL.dll
/DAL/bin/Debug/DAL.pdb
/DAL/bin/Debug/EpExcelExport.dll
/DAL/bin/Debug/EpExcelExport.pdb
/EpExcelExport/bin/Debug/DAL.dll
/EpExcelExport/bin/Debug/DAL.pdb
/EpExcelExport/bin/Debug/EpExcelExport.dll
/EpExcelExport/bin/Debug/EpExcelExport.pdb
/EpExcelExport/bin/Debug/System.Net.Http.Formatting.dll
/EpExcelExport/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/EpExcelExport/obj/Debug/EpExcelExport.csproj.AssemblyReference.cache
/EpExcelExport/obj/Debug/EpExcelExport.csproj.CoreCompileInputs.cache
/EpExcelExport/obj/Debug/EpExcelExport.csproj.FileListAbsolute.txt
/EpExcelExport/obj/Debug/EpExcelExport.dll
/EpExcelExport/obj/Debug/EpExcelExport.pdb
/Lib/bin/Debug/DAL.dll
/Lib/bin/Debug/DAL.pdb
/Lib/bin/Debug/EpExcelExport.dll
/Lib/bin/Debug/EpExcelExport.pdb
/Lib/bin/Debug/Lib.dll
/Lib/bin/Debug/Lib.pdb
/Lib/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Lib/obj/Debug/Lib.csproj.AssemblyReference.cache
/Lib/obj/Debug/Lib.csproj.CoreCompileInputs.cache
/Lib/obj/Debug/Lib.csproj.FileListAbsolute.txt
/Lib/obj/Debug/Lib.dll
/Lib/obj/Debug/Lib.pdb
/Sunrise.Services/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Sunrise.Services/obj/Debug/Sunrise.Services.csproj.AssemblyReference.cache
/Sunrise.Services/obj/Debug/Sunrise.Services.csproj.CoreCompileInputs.cache
/Sunrise.Services/obj/Debug/Sunrise.Services.csproj.FileListAbsolute.txt
/Sunrise.Services/obj/Debug/Sunrise.Services.dll
/Sunrise.Services/obj/Debug/Sunrise.Services.pdb
/SunriseWeb/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SunriseWeb/obj/Debug/SunriseWeb.csproj.AssemblyReference.cache
/SunriseWeb/obj/Debug/SunriseWeb.csproj.CoreCompileInputs.cache
/SunriseWeb/obj/Debug/SunriseWeb.csproj.FileListAbsolute.txt
/SunriseWeb/obj/Debug/SunriseWeb.csproj.GenerateResource.cache
/SunriseWeb/obj/Debug/SunriseWeb.dll
/SunriseWeb/obj/Debug/SunriseWeb.pdb
/SunriseWeb/bin/System.Net.Http.Formatting.dll
/Sunrise.Services/bin/DAL.dll
/Sunrise.Services/bin/DAL.pdb
/Sunrise.Services/bin/EpExcelExport.dll
/Sunrise.Services/bin/EpExcelExport.pdb
/Sunrise.Services/bin/Lib.dll
/Sunrise.Services/bin/Lib.pdb
/Sunrise.Services/bin/Sunrise.Services.dll
/Sunrise.Services/bin/Sunrise.Services.pdb
/SunriseWeb/bin/DAL.dll
/SunriseWeb/bin/DAL.pdb
/SunriseWeb/bin/EpExcelExport.dll
/SunriseWeb/bin/EpExcelExport.pdb
/SunriseWeb/bin/Lib.dll
/SunriseWeb/bin/Lib.pdb
/SunriseWeb/bin/SunriseWeb.dll
/SunriseWeb/bin/SunriseWeb.pdb
