################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DAL/bin/Debug
/DAL/obj/Debug
/EpExcelExport/bin/Debug
/EpExcelExport/obj/Debug
/Sunrise.Services/bin
/Sunrise.Services/obj/Debug
/SunriseWeb/bin
/SunriseWeb/obj/Debug
/Lib/bin/Debug
/Lib/obj/Debug
/packages/EntityFramework.6.1.3/lib/net40
/packages/EntityFramework.6.1.3/lib/net45
/packages/EntityFramework.6.1.3/tools/migrate.exe
/packages/EntityFramework.6.1.3/tools/install.ps1
/packages/EntityFramework.6.1.3/tools/init.ps1
/packages/EntityFramework.6.1.3/tools/EntityFramework.psm1
/packages/EntityFramework.6.1.3/tools/EntityFramework.psd1
/packages/EntityFramework.6.1.3/tools/EntityFramework.PowerShell.Utility.dll
/packages/EntityFramework.6.1.3/tools/EntityFramework.PowerShell.dll
/packages/EntityFramework.6.1.3/tools/about_EntityFramework.help.txt
/packages/EntityFramework.6.1.3/EntityFramework.6.1.3.nupkg
/packages/EntityFramework.6.1.3
/Sunrise.Services/ExcelFile
/Sunrise.Services/obj/Release
/Lib/obj/Release
/DAL/bin/Release
/DAL/obj/Release
/EpExcelExport/bin/Release
/Lib/bin/Release
/EpExcelExport/obj/Release
/SunriseWeb/obj/Release
/Sunrise.Services/Properties/DataSources/vssver2.scc
/Sunrise.Services/DatabaseErrorLog.txt
/Sunrise.Services/Temp/APIEXPORT
/Sunrise.Services/InfoImages
/Sunrise.Services/temp/Excel/117326607.xlsx
/WS_StockFoundEmailSend/bin/Debug/Logs
/Sunrise.Services/temp
/WS_StockFoundEmailSend/obj/Debug
/WS_StockFoundEmailSend/bin/Debug/step for install exe
/WS_StocksFoundEmailSend/obj/Release
/WS_FTP_SFTP/bin/Release
/WS_FTP_SFTP/obj/Release
/WS_StocksFoundEmailSend/bin/Release
/SunriseWeb/Upload/OfferExcel
/WS_StockUpload/bin/Debug/Logs
/WS_GraphDetail_Ora/bin/Debug/Logs
/WS_StocksFoundEmailSend/bin/Debug
/Sunrise.Services/Stock_Available_Email_Log.txt
/Stock_Available_Email_Log.txt
/Sunrise.Services/SalesDataUpdate_Ora.txt
/WS_StockUpload/obj/Debug
/WS_StocksFoundEmailSend/obj/Debug
/WS_GraphDetail_Ora/obj/Debug
/WS_FTP_SFTP/obj/Debug
/Sunrise.Services/UserProfileImages
/Sunrise.Services/Auto_Suspend_User_Make.txt
