
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/images/nav-logo.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <style>
        .glass {
            width: 150px;
            height: 150px;
            position: absolute;
            border-radius: 50%;
            cursor: crosshair;
            /* Multiple box shadows to achieve the glass effect */
            box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
            /* hide the glass by default */
            display: none;
        }

        .border-b {
            border-bottom: 1px solid #ccc;
        }

        ul {
            margin-top: 0;
            margin-bottom: 10px;
        }

            ul.social li {
                list-style: none;
                font-size: 22px;
                padding-top: 5px;
                float: right;
                text-align: center;
                margin-top: 10px;
                margin-left: 5px;
                margin-right: 5px;
                width: 60px;
            }

                ul.social li a {
                    cursor: pointer;
                    color: #333;
                }

        [class^="icon-"], [class*=" icon-"] {
            font-family: 'Solitaire';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        ul.social li p {
            list-style: none;
            font-size: 11px;
        }

        .icon-active {
            color: #afdde9 !important;
        }

        .img-widths {
            width: 75% !important;
        }

        .img-next-prev-btn {
            margin-top: -50px;
        }

        .Descriptionlable {
            margin-top: 30px;
            margin-right: 8px;
            color: black;
            font-size: 17px;
        }

        .loading-overlay {
            display: none;
            background: rgba( 26, 26, 26, 0.7 );
            position: fixed;
            width: 100%;
            height: 100%;
            z-index: 9999;
            top: 0;
        }

        .loading-overlay-image-container {
            display: none;
            position: fixed;
            z-index: 99999;
            top: 50%;
            left: 50%;
            transform: translate( -50%, -50% );
        }

        .loading-overlay-img3 {
            width: 80px;
            height: auto;
            border-radius: 5px;
            /*background-color:#fff;*/
        }
    </style>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
    <link rel="stylesheet" href="~/Content/ViewImgVdoCert/css/bootstrap.min.css">

    <script src="~/Content/ViewImgVdoCert/js/jquery.min.js"></script>
    <script src="~/Content/ViewImgVdoCert/js/bootstrap.min.js"></script>
    <script src="~/Content/ViewImgVdoCert/js/slick.min.js"></script>
    <script src="~/Content/ViewImgVdoCert/js/enlarge.init.js"></script>
    <script src="~/Content/ViewImgVdoCert/js/enlarge.js"></script>
    <script src="~/Content/ViewImgVdoCert/js/init.js"></script>

    <script src="~/Content/ViewImgVdoCert/js/lightzoom.js"></script>

    <link rel="stylesheet" href="~/Content/ViewImgVdoCert/css/flaticon.css">
    <link rel="stylesheet" href="~/Content/ViewImgVdoCert/css/font-awesome.min.css">
    <link href="~/Content/ViewImgVdoCert/css/slick-theme.css?version=1.1" rel="stylesheet" />
    <link href="~/Content/ViewImgVdoCert/css/slick.css" rel="stylesheet" />
    <link href="~/Content/ViewImgVdoCert/css/enlarge.css" rel="stylesheet" />
    <link href="~/Content/ViewImgVdoCert/css/glassstyle.css" rel="stylesheet" />

</head>
<body>
    <div class="loading-overlay"></div>
    <div class="loading-overlay-image-container">
        <img src="~/Content/images/Loader2.gif" class="loading-overlay-img3" />
    </div>
    <div class="container">
        <div class="row border-b" id="divHead" style="display:none;">
            <div id="divdtl" class="col-md-3 col-xs-12">
                <div class="col-md-12 col-xs-12">
                    <p class="stoneid-label" style="margin-top: 10px;">
                        <b>Stock Id : </b><label class="stoneid" id="LblRef"></label>
                    </p>
                </div>
                <div class="col-md-12 col-xs-12">
                    <p class="stoneid-label">
                        <b>Certi. No :</b>  <label class="stoneid" id="LblCert"></label>
                    </p>
                </div>

            </div>
            <div class="col-md-6 col-xs-12" style="text-align: center;">
                <label id="PCol" class="Descriptionlable"></label>
                <label id="PCla" class="Descriptionlable"></label>
                <label id="PCts" class="Descriptionlable"></label>
                <label id="PCut" class="Descriptionlable"></label>
                <label id="PPls" class="Descriptionlable"></label>
                <label id="PSymm" class="Descriptionlable"></label>
                <label id="PFls" class="Descriptionlable"></label>
                @*<p id="PCol" style="margin-top: 30px;color:red;"></p>
                    <p id="PCla" style="margin-top: 30px;color:red;"> </p>
                    <p id="PCts" style="margin-top: 30px;color:red;"></p>
                    <p id="PCut" style="margin-top: 30px;color:red;"> </p>
                    <p id="PCut" style="margin-top: 30px;color:red;"> </p>*@
            </div>
            <div class="col-md-3 col-xs-12">
                <ul class="social">
                    <li class="show-icon" name="pdfBtn" onclick="_showMedia('PDF')">
                        <a href="javascript:void(0);" id="pdfLink" class="">
                            <i class="fa fa-certificate"></i>
                            <p>
                                Certificate
                            </p>
                        </a>
                    </li>
                    <li class="show-icon" name="videoBtn" onclick="_showMedia('Video')">
                        <a href="javascript:void(0);" id="videoLink" class="">
                            <i class="fa fa-video-camera"></i>
                            <p>
                                Video
                            </p>
                        </a>
                    </li>
                    <li class="show-icon" name="imageBtn" onclick="_showMedia('Image')">
                        <a href="javascript:void(0);" id="imageLink" class="icon-active">
                            <i class="fa fa-picture-o"></i>
                            <p>
                                HD Image
                            </p>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div id="divImage" class="row">
            <div class="col-lg-12">
                <button style="display:none;" id="downloadImage" class="btn btn-primary pull-right" type="button" value="Download" onclick="downloadImage();"><i class="fa fa-download"></i></button>
            </div>
            <div class="col-lg-12">
                <div id="imageList" class="slick-slider">
                </div>
                <center>
                    <iframe frameborder="0" id="imageFrameList" src="" style="text-align: center; width: 65%;height: 526px;"></iframe>
                </center>
                <center>
                    <img src="~/Content/images/no-img1.jpg" id="imgNoAvail" style="display:none;margin-top: 42px;width:31%;">
                </center>
            </div>
        </div>
        <div id="divCerti" class="row" style="display:none">
            <div class="col-lg-12">
                <iframe id="CertiFrame" width="100%" height="600" frameborder="0" src="" style="text-align: center;height: 950px;width: 100%;"></iframe>
                <center>
                    <img src="" id="CertiImg" style="display:none;width: 100%;">
                </center>
            </div>
        </div>
        <div id="divIframe" class="row">
            <div class="col-lg-12">
                <br /><br />
            </div>
        </div>
        <div id="divVideo" class="row" style="display:none">
            <div class="col-lg-12">
                <button style="display:none;" id="downloadVdo" class="btn btn-primary pull-right" type="button" value="Download" onclick="downloadVdo();"><i class="fa fa-download"></i></button>
            </div>
            <div class="col-lg-12" style="text-align: center;display:none;">
                <iframe style="border-width:0px;height: 1100px;width:100%;" id="ifVideo" scrolling="auto" src=""></iframe>
            </div>
            <div class="col-lg-12" style="text-align: center;display:none;">
                <video id="video1" runat="server" style="height: 460px;width:100%;" controls autoplay loop muted>
                    <source src="" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <center>
                <img src="/Content/images/no-video-available.png" id="vdoNoAvail" style="display:none;width:30%;">
            </center>
        </div>
    </div>
    <script type="text/javascript">
        var imageArr = [];
        var DwnVideoUrl = '';
        var VideoType = '';
        String.prototype.fileExists = function () {
            filename = this.trim();

            var response = jQuery.ajax({
                url: filename,
                type: 'HEAD',
                async: false
            }).status;

            return (response != "200") ? false : true;
        }

        function GetURLParameter(sParam) {
            var sPageURL = window.location.search.substring(1);
            var sURLVariables = sPageURL.split('&');
            var i = 0, sParameterName = '';
            for (; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');
                if (sParameterName[0] == sParam) {
                    return sParameterName[1];
                }
            }
        }

        function imageExists(url, callback) {
            var img = new Image();
            img.onload = function () { callback(true); };
            img.onerror = function () { callback(false); };
            img.src = url;
        }

        function downloadImage() {

            var a;
            var Refno = GetURLParameter("StoneId");
            $.each(imageArr, function (index, value) {
                //alert( index + ": " + value );
                a = Refno + "-" + GetFilename(value.toString()) + ".jpg";
                forceDownload(value.toString(), a);
            });

        }
        function downloadVdo() {
            //var a;
            //if (DwnVideoUrl != '') {
            //    var Refno = GetURLParameter("StoneId");
            //    var incStrjson = DwnVideoUrl.includes(".json");
            //    var incStrMp4 = DwnVideoUrl.includes(".mp4");
            //    if (incStrMp4 == true) {
            //        a = Refno + ".mp4";
            //        forceDownload(DwnVideoUrl.toString(), a);
            //    }
            //    else {
            //        if (incStrjson == true) { } {
            //            alert('Mp4 Format Not Available.');
            //        }
            //    }
            //}
            if (videolink == "") {
                alert('Mp4 Format Not Available.');
            }
            else {
                var Refno = GetURLParameter("StoneId");
                a = Refno + ".mp4";
                forceDownload(videolink.toString(), a);
            }
        }
        //function downloadURI(uri, name)
        //{
        //    var link = document.createElement("a");
        //    // If you don't know the name or want to use
        //    // the webserver default set name = ''
        //    link.setAttribute('download', name);
        //    link.href = uri;
        //    document.body.appendChild(link);
        //    link.click();
        //    link.remove();
        // }

        function forceDownload(url, fileName) {
            var xhr = new XMLHttpRequest();
            xhr.open("GET", url, true);
            xhr.responseType = "blob";
            xhr.onload = function () {
                var urlCreator = window.URL || window.webkitURL;
                var imageUrl = urlCreator.createObjectURL(this.response);
                var tag = document.createElement('a');
                tag.href = imageUrl;
                tag.download = fileName;
                document.body.appendChild(tag);
                tag.click();
                document.body.removeChild(tag);
            }
            xhr.send();
        }
        function GetFilename(url) {
            if (url) {
                var m = url.toString().match(/.*\/(.+?)\./);
                if (m && m.length > 1) {
                    return m[1];
                }
            }
            return "";
        }
        //var showEntryVar = null, showEntryVar1 = null, imageBinded = false;
        function bindImages(Cert) {
        //    $('.loading-overlay-image-container').show();
        //$('.loading-overlay').show();
            //MainImage
            var imageUrl = 'https://4e0s0i2r4n0u1s0.com/img/' + Cert + '/pr.jpg';
            var imageHtml = '';

            imageExists(imageUrl, function (exists) {
                if (exists) {
                    imageArr.push(imageUrl);
                    imageHtml = '<div class="enlarge_pane_contain img-widths" style="width:75%;"><div class="enlarge_pane"><div class="enlarge">' +
                        '<div class="enlarge_contain"><img src="' + imageUrl + '" class="img-responsive light-zoom"></div>' +
                        '<a href="' + imageUrl + '" class="enlarge_btn" title="Toggle Zoom"></a>' +
                        '</div></div></div>';

                    $(imageHtml).appendTo("#imageList");
                }

                //PRB_s
                var imagePrbs = 'https://4e0s0i2r4n0u1s0.com/img/' + Cert + '/PRB.jpg';
                imageExists(imagePrbs, function (exists) {
                    if (exists) {
                        imageArr.push(imagePrbs);
                        imageHtml = '<div class="enlarge_pane_contain img-widths" style="width:75%;"><div class="enlarge_pane"><div class="enlarge">' +
                            '<div class="enlarge_contain"><img src="' + imagePrbs + '" class="img-responsive light-zoom"></div>' +
                            '<a href="' + imagePrbs + '" class="enlarge_btn" title="Toggle Zoom"></a>' +
                            '</div></div></div>';

                        $(imageHtml).appendTo("#imageList");
                    }

                    //AS_s
                    var ImageASs = 'https://4e0s0i2r4n0u1s0.com/img/' + Cert + '/AS.jpg';
                    imageExists(ImageASs, function (exists) {
                        if (exists) {
                            imageArr.push(ImageASs);
                            imageHtml = '<div class="enlarge_pane_contain img-widths" style="width:75%;"><div class="enlarge_pane"><div class="enlarge">' +
                                '<div class="enlarge_contain"><img src="' + ImageASs + '" class="img-responsive light-zoom"></div>' +
                                '<a href="' + ImageASs + '" class="enlarge_btn" title="Toggle Zoom"></a>' +
                                '</div></div></div>';
                            $(imageHtml).appendTo("#imageList");
                        }

                        //HT_s
                        var ImageHTs = 'https://4e0s0i2r4n0u1s0.com/img/' + Cert + '/HT.jpg';
                        imageExists(ImageHTs, function (exists) {
                            if (exists) {
                                imageArr.push(ImageHTs);
                                imageHtml = '<div class="enlarge_pane_contain img-widths" style="width:75%;"><div class="enlarge_pane"><div class="enlarge">' +
                                    '<div class="enlarge_contain"><img src="' + ImageHTs + '" class="img-responsive light-zoom"></div>' +
                                    '<a href="' + ImageHTs + '" class="enlarge_btn" title="Toggle Zoom"></a>' +
                                    '</div></div></div>';
                                $(imageHtml).appendTo("#imageList");
                            }

                            //HB_s
                            var ImageHbs = 'https://4e0s0i2r4n0u1s0.com/img/' + Cert + '/HB.jpg';
                            imageExists(ImageHbs, function (exists) {
                                if (exists) {
                                    imageArr.push(ImageHbs);
                                    imageHtml = '<div class="enlarge_pane_contain img-widths" style="width:75%;"><div class="enlarge_pane"><div class="enlarge">' +
                                        '<div class="enlarge_contain"><img src="' + ImageHbs + '" class="img-responsive light-zoom"></div>' +
                                        '<a href="' + ImageHbs + '" class="enlarge_btn" title="Toggle Zoom"></a>' +
                                        '</div></div></div>';
                                    $(imageHtml).appendTo("#imageList");
                                }
                                //imageBinded = true;
                                $('.slick-slider').slick({
                                    dots: false,
                                    infinite: true,
                                    speed: 500,
                                    slidesToShow: 1,
                                    slidesToScroll: 1,
                                    autoplay: false,
                                    autoplaySpeed: 500,
                                    arrows: true,
                                    responsive: [{
                                        breakpoint: 980,
                                        settings: {
                                            slidesToShow: 1,
                                            slidesToScroll: 1
                                        }
                                    },
                                    {
                                        breakpoint: 400,
                                        settings: {
                                            arrows: false,
                                            slidesToShow: 1,
                                            slidesToScroll: 1
                                        }
                                    }]
                                });
                                $("#imageList").show();
                                ScreenSize();
                                //setTimeout(function () {
                                //    $('.loading-overlay-image-container').hide();
                                //    $('.loading-overlay').hide();
                                //}, 10);

                                setTimeout(function () {
                                    $('img.light-zoom').lightzoom({
                                        zoomPower: 3,    //Default
                                        glassSize: 150,  //Default
                                    });
                                    $('.slick-arrow').addClass('img-next-prev-btn');
                                    //$('#ifVideo')[0].style.width = "365px";
                                    //$('#video1')[0].style.width = "365px";
                                }, 1200);
                                $(document).keydown(function (e) {
                                    if (event.keyCode == 37) {
                                        $('.slick-prev').click(); //on left arrow, click next (since your next is on the left)
                                    } else if (event.keyCode == 39) {
                                        $('.slick-next').click(); //on right arrow, click prev
                                    }
                                });
                            });
                        });
                    });
                });
            });


            //showEntryVar = setInterval(function () {
            //    if (document.readyState == 'complete' && imageBinded) {
            //        imageBinded = false;
            //        clearInterval(showEntryVar);

            //    }
            //}, 1000);
        }
        function OverseasBindMultiImages(Image, Image1, Image2, Image3) {
            var imageUrl = Image;
            var imageHtml = '';

            imageExists(imageUrl, function (exists) {
                if (exists) {
                    imageArr.push(imageUrl);
                    imageHtml = '<div class="enlarge_pane_contain img-widths" style="width:75%;"><div class="enlarge_pane"><div class="enlarge">' +
                        '<div class="enlarge_contain"><img src="' + imageUrl + '" class="img-responsive light-zoom"></div>' +
                        '<a href="' + imageUrl + '" class="enlarge_btn" title="Toggle Zoom"></a>' +
                        '</div></div></div>';

                    $(imageHtml).appendTo("#imageList");
                }

                //PRB_s
                var imagePrbs = Image1;
                imageExists(imagePrbs, function (exists) {
                    if (exists) {
                        imageArr.push(imagePrbs);
                        imageHtml = '<div class="enlarge_pane_contain img-widths" style="width:75%;"><div class="enlarge_pane"><div class="enlarge">' +
                            '<div class="enlarge_contain"><img src="' + imagePrbs + '" class="img-responsive light-zoom"></div>' +
                            '<a href="' + imagePrbs + '" class="enlarge_btn" title="Toggle Zoom"></a>' +
                            '</div></div></div>';

                        $(imageHtml).appendTo("#imageList");
                    }

                    //AS_s
                    var ImageASs = Image2;
                    imageExists(ImageASs, function (exists) {
                        if (exists) {
                            imageArr.push(ImageASs);
                            imageHtml = '<div class="enlarge_pane_contain img-widths" style="width:75%;"><div class="enlarge_pane"><div class="enlarge">' +
                                '<div class="enlarge_contain"><img src="' + ImageASs + '" class="img-responsive light-zoom"></div>' +
                                '<a href="' + ImageASs + '" class="enlarge_btn" title="Toggle Zoom"></a>' +
                                '</div></div></div>';
                            $(imageHtml).appendTo("#imageList");
                        }

                        //HT_s
                        var ImageHTs = Image3;
                        imageExists(ImageHTs, function (exists) {
                            if (exists) {
                                imageArr.push(ImageHTs);
                                imageHtml = '<div class="enlarge_pane_contain img-widths" style="width:75%;"><div class="enlarge_pane"><div class="enlarge">' +
                                    '<div class="enlarge_contain"><img src="' + ImageHTs + '" class="img-responsive light-zoom"></div>' +
                                    '<a href="' + ImageHTs + '" class="enlarge_btn" title="Toggle Zoom"></a>' +
                                    '</div></div></div>';
                                $(imageHtml).appendTo("#imageList");
                            }

                            //HB_s
                            var ImageHbs = '';
                            imageExists(ImageHbs, function (exists) {
                                if (exists) {
                                    imageArr.push(ImageHbs);
                                    imageHtml = '<div class="enlarge_pane_contain img-widths" style="width:75%;"><div class="enlarge_pane"><div class="enlarge">' +
                                        '<div class="enlarge_contain"><img src="' + ImageHbs + '" class="img-responsive light-zoom"></div>' +
                                        '<a href="' + ImageHbs + '" class="enlarge_btn" title="Toggle Zoom"></a>' +
                                        '</div></div></div>';
                                    $(imageHtml).appendTo("#imageList");
                                }
                                //imageBinded = true;
                                $('.slick-slider').slick({
                                    dots: false,
                                    infinite: true,
                                    speed: 500,
                                    slidesToShow: 1,
                                    slidesToScroll: 1,
                                    autoplay: false,
                                    autoplaySpeed: 500,
                                    arrows: true,
                                    responsive: [{
                                        breakpoint: 980,
                                        settings: {
                                            slidesToShow: 1,
                                            slidesToScroll: 1
                                        }
                                    },
                                    {
                                        breakpoint: 400,
                                        settings: {
                                            arrows: false,
                                            slidesToShow: 1,
                                            slidesToScroll: 1
                                        }
                                    }]
                                });
                                $("#imageList").show();
                                ScreenSize();

                                setTimeout(function () {
                                    $('img.light-zoom').lightzoom({
                                        zoomPower: 3,    //Default
                                        glassSize: 150,  //Default
                                    });
                                    $('.slick-arrow').addClass('img-next-prev-btn');
                                }, 1200);
                                $(document).keydown(function (e) {
                                    if (event.keyCode == 37) {
                                        $('.slick-prev').click(); //on left arrow, click next (since your next is on the left)
                                    } else if (event.keyCode == 39) {
                                        $('.slick-next').click(); //on right arrow, click prev
                                    }
                                });
                            });
                        });
                    });
                });
            });

            //var imageHtml = '';

            //var imageUrl = Image;
            //if (imageUrl != null) {
            //    imageArr.push(imageUrl);
            //    imageHtml = '<div class="enlarge_pane_contain img-widths" style="width:75%;"><div class="enlarge_pane"><div class="enlarge">' +
            //        '<div class="enlarge_contain"><img src="' + imageUrl + '" class="img-responsive light-zoom"></div>' +
            //        '<a href="' + imageUrl + '" class="enlarge_btn" title="Toggle Zoom"></a>' +
            //        '</div></div></div>';
            //    $(imageHtml).appendTo("#imageList");
            //}
            //var imagePrbs = Image1;
            //if (imagePrbs != null) {
            //    imageArr.push(imagePrbs);
            //    imageHtml = '<div class="enlarge_pane_contain img-widths" style="width:75%;"><div class="enlarge_pane"><div class="enlarge">' +
            //        '<div class="enlarge_contain"><img src="' + imagePrbs + '" class="img-responsive light-zoom"></div>' +
            //        '<a href="' + imagePrbs + '" class="enlarge_btn" title="Toggle Zoom"></a>' +
            //        '</div></div></div>';
            //    $(imageHtml).appendTo("#imageList");
            //}
            //var ImageASs = Image2;
            //if (ImageASs != null) {
            //    imageArr.push(ImageASs);
            //    imageHtml = '<div class="enlarge_pane_contain img-widths" style="width:75%;"><div class="enlarge_pane"><div class="enlarge">' +
            //        '<div class="enlarge_contain"><img src="' + ImageASs + '" class="img-responsive light-zoom"></div>' +
            //        '<a href="' + ImageASs + '" class="enlarge_btn" title="Toggle Zoom"></a>' +
            //        '</div></div></div>';
            //    $(imageHtml).appendTo("#imageList");
            //}
            //var ImageHTs = Image3;
            //if (ImageHTs != null) {
            //    imageArr.push(ImageHTs);
            //    imageHtml = '<div class="enlarge_pane_contain img-widths" style="width:75%;"><div class="enlarge_pane"><div class="enlarge">' +
            //        '<div class="enlarge_contain"><img src="' + ImageHTs + '" class="img-responsive light-zoom"></div>' +
            //        '<a href="' + ImageHTs + '" class="enlarge_btn" title="Toggle Zoom"></a>' +
            //        '</div></div></div>';
            //    $(imageHtml).appendTo("#imageList");
            //}
            //if ($("#imageList").html() != "") {
            //    $('.slick-slider').slick({
            //        dots: false,
            //        infinite: true,
            //        speed: 500,
            //        slidesToShow: 1,
            //        slidesToScroll: 1,
            //        autoplay: false,
            //        autoplaySpeed: 500,
            //        arrows: true,
            //        responsive: [{
            //            breakpoint: 980,
            //            settings: {
            //                slidesToShow: 1,
            //                slidesToScroll: 1
            //            }
            //        },
            //        {
            //            breakpoint: 400,
            //            settings: {
            //                arrows: false,
            //                slidesToShow: 1,
            //                slidesToScroll: 1
            //            }
            //        }]
            //    });
            //    $("#imageList").show();
            //    ScreenSize();

            //    setTimeout(function () {
            //        $('img.light-zoom').lightzoom({
            //            zoomPower: 3,    //Default
            //            glassSize: 150,  //Default
            //        });
            //        $('.slick-arrow').addClass('img-next-prev-btn');
            //    }, 1200);
            //     $(document).keydown(function (e) {
            //                        if (event.keyCode == 37) {
            //                            $('.slick-prev').click(); //on left arrow, click next (since your next is on the left)
            //                        } else if (event.keyCode == 39) {
            //                            $('.slick-next').click(); //on right arrow, click prev
            //                        }
            //                    });
            //}
        }

        function bindVideos(Cert, SeqNo) {
            var videoUrl = 'https://4e0s0i2r4n0u1s0.com/vfiles/imaged/' + SeqNo + '/0.json';
            if (videoUrl.fileExists()) {
                $("#ifVideo").parent().show();
                $("#divIframe").show();
                $("#video1").parent().hide();
                $("#ifVideo").attr('src', 'https://4e0s0i2r4n0u1s0.com/Vision360.html?d=' + SeqNo + '&s=0&surl=https://4e0s0i2r4n0u1s0.com/vfiles/&autoplay=1');
                DwnVideoUrl = videoUrl;
                VideoType = 'json';
            }
            else {
                videoUrl = 'https://4e0s0i2r4n0u1s0.com/vfiles/imaged/' + SeqNo + '/video.mp4';
                if (videoUrl.fileExists()) {
                    $("#video1").attr('src', videoUrl);
                    $("#video1").parent().show();
                    $("#ifVideo").parent().hide();
                    $("#divIframe").hide();
                    DwnVideoUrl = videoUrl;
                    VideoType = 'mp4';
                }
                else {
                    $("#ifVideo").parent().hide();
                    $("#video1").parent().hide();
                    $("#divIframe").hide();
                    DwnVideoUrl = '';
                }
            }
        }
        function _showMedia(mediaType) {
            var url = window.location.href;
            if (mediaType == 'Image') {
                url = url.replace("T=I", "T=I");
                url = url.replace("T=V", "T=I");
                url = url.replace("T=C", "T=I");
            }
            else if (mediaType == 'Video') {
                url = url.replace("T=I", "T=V");
                url = url.replace("T=V", "T=V");
                url = url.replace("T=C", "T=V");
            }
            else if (mediaType == 'PDF') {
                url = url.replace("T=I", "T=C");
                url = url.replace("T=V", "T=C");
                url = url.replace("T=C", "T=C");
            }
            window.location.href = url;
        }
        function showMedia(mediaType) {
            if (mediaType === 'Image') {
                $("#imageLink").addClass('icon-active');
                $("#videoLink").removeClass('icon-active');
                $("#pdfLink").removeClass('icon-active');
                $("#divImage").show();
                $("#divCerti").hide();
                $("#divVideo").hide();
                document.title = GetURLParameter("StoneId") + " :: Image";
            } else if (mediaType === 'Video') {
                $("#videoLink").addClass('icon-active');
                $("#imageLink").removeClass('icon-active');
                $("#pdfLink").removeClass('icon-active');
                $("#divImage").hide();
                $("#divCerti").hide();
                $("#divVideo").show();
                $("#ifVideo").attr('src', $("#ifVideo").attr('src'));
                document.title = GetURLParameter("StoneId") + " :: Video";
            } else if (mediaType === 'PDF') {
                $("#videoLink").removeClass('icon-active');
                $("#imageLink").removeClass('icon-active');
                $("#pdfLink").addClass('icon-active');
                $("#divImage").hide();
                $("#divCerti").show();
                $("#divVideo").hide();
                $("#CertiFrame").attr('src', $("#CertiFrame").attr('src'));
                document.title = GetURLParameter("StoneId") + " :: Certificate";
            }
        }
        function fileExists(url) {
            if (url) {
                var req = new XMLHttpRequest();
                req.open('GET', url, false);
                req.send();
                return req.status == 200;
            } else {
                return false;
            }
        }
        function doesFileExist(urlToFile) {
            var img = new PDF();
            PDF.onload = function () { callback(true); };
            PDF.onerror = function () { callback(false); };
            PDF.src = urlToFile;


            //var xhr = new XMLHttpRequest();
            //  xhr.open('HEAD', urlToFile, false);
            //   xhr.send();

            //   if (xhr.status == "404") {
            //     console.log("File doesn't exist");
            //      return false;
            // } else {
            //      console.log("File exists");
            //      return true;
            //  }
        }
        function CheckUrlExist(FirstUrl) {
            $.ajax({
                type: 'HEAD',
                url: FirstUrl,
                crossDomain: true,
                headers: {
                    'Access-Control-Allow-Origin': '*'
                },
                success: function () {
                    $("#CertiFrame").attr('src', FirstUrl);
                },
                error: function () {
                    //alert(2);
                }
            });
        }
        function setpdf() {


            $.ajax({
                url: 'https://sunrisediamonds.com.hk/certi/5211182441.pdf',
                headers: {
                    'Access-Control-Allow-Origin': '*',
                    'Content-Type': 'application/pdf', "accept": "application/json", "Access-Control-Allow-Credentials": "true",

                },
                method: 'GET',
                'cache': false,
                'dataType': "jsonp",
                "async": true,
                "crossDomain": true,
                data: '',
                error: function () {
                    alert("File doesn't exists");
                },
                success: function () {
                    alert('File exists');
                }
            });

        }
        function bindCerti(pdfUrl) {
            let str = pdfUrl.toUpperCase();
            if (!str.includes(".JPG")) {
                $("#CertiImg").hide();
                $("#CertiFrame").show();
                $("#CertiFrame").attr('src', pdfUrl);
            }
            else {
                $("#CertiFrame").hide();
                $("#CertiImg").show();
                document.getElementById('CertiImg').src = pdfUrl;
            }
        }
        $(document).ready(function () {
            GetDetails();
        });
        function ScreenSize() {
            var w = window, d = document, e = d.documentElement, g = d.getElementsByTagName('body')[0],
                x = w.innerWidth || e.clientWidth || g.clientWidth,
                y = w.innerHeight || e.clientHeight || g.clientHeight;
            $('.slick-list')[0].style.height = parseInt(y) - 115 + "px";
            var x1 = x / 2;
            $('.slick-slider')[0].style.width = parseInt(x1) - 135 + "px";

            //if (VideoType == 'mp4') {
            //    $("#video1")[0].style.height = parseInt(y) - 125 + "px";
            //    $('#video1')[0].style.width = parseInt(x1) - 150 + "px";
            //}
            //if (VideoType == 'json') {
            //    $("#ifVideo")[0].style.height = parseInt(y) - 100 + "px";
            //    $('#ifVideo')[0].style.width = parseInt(x1) - 125 + "px";
            //}
            //$("#CertiFrame")[0].style.height = parseInt(y) - 115 + "px";
        };
        function formatNumber(number) {
            return (parseFloat(number).toFixed(2)).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");
        }
        var videolink = "";
        function GetDetails() {
            if (GetURLParameter("StoneId") != "" && GetURLParameter("StoneId") != undefined) {
                if (GetURLParameter("DT") == "M") {
                    $("#divHead").hide();
					$("#downloadVdo").hide();
					$("#downloadImage").hide();
                    $("#downloadVdo").hide();
                }
                else {
				    $("#divHead").show();
					$("#downloadVdo").show();
					$("#downloadImage").show();
                    $('.loading-overlay-image-container').show();
                    $('.loading-overlay').show();
                }
                $.ajax({
                    url: "@Url.Action("GetIVC_From_Fortune", "ViewIVC")",
                    type: "POST",
                    data: { sRefNo: GetURLParameter("StoneId") },
                    success: function (data, textStatus, jqXHR) {debugger
                        if (data != null) {
                            if (data.stone_ref_no != null) {
                                $("#LblRef").html(data.stone_ref_no);
                                if (data.certi_no != null) {
                                    $("#LblCert").html(data.certi_no);
                                }
                            }
                            else {
                                $('#divdtl').hide();
                            }
                            if (data.color != null) {
                                $('#PCol').text(data.color);
                            }
                            if (data.clarity != null) {
                                $('#PCla').text(data.clarity);
                            }
                            if (data.cts != null) {
                                $('#PCts').text(formatNumber(data.cts));
                            }
                            if (data.cut != null) {
                                $('#PCut').text(data.cut);
                                if (data.cut.toUpperCase() == "3EX") {
                                    $('#PPls').hide();
                                    $('#PSymm').hide();
                                }
                                else {
                                    if (data.polish != null) {
                                        $('#PPls').text(data.polish);
                                    }
                                    if (data.symm != null) {
                                        $('#PSymm').text(data.symm);
                                    }
                                }
                            }
                            if (data.fls != null) {
                                $('#PFls').text(data.fls);
                            }
                            $("#imageList").hide();
                            $("#imageFrameList").hide();
                            $("#downloadImage").hide();

                            var __img = "";
                            if (data.image_url != null && data.image_url != "") {
                                __img = data.image_url;
                            }
                            else if (data.image_url1 != null && data.image_url1 != "") {
                                __img = data.image_url1;
                            }
                            else if (data.image_url2 != null && data.image_url2 != "") {
                                __img = data.image_url2;
                            }
                            else if (data.image_url3 != null && data.image_url3 != "") {
                                __img = data.image_url3;
                            }
                            debugger
                            if (__img != null && __img != "") {
                                let str = __img.toUpperCase();
                                if (!str.includes("PR.JPG")) {
                                    if (str.includes("X=C") || str.includes("X=C1") || str.includes("X=C2") ||
                                        str.includes("X=K") || str.includes("X=K1") || str.includes("X=K2") || str.includes("X=K3") ||
                                        str.includes("X=M") || str.includes("X=M1") || str.includes("X=M2") || str.includes("X=M3") ||
                                        str.includes("X=T") || str.includes("X=T1") || str.includes("X=T2") || str.includes("X=T3") ||
                                        str.includes("X=D") || str.includes("X=E") || str.includes("X=I") || str.includes("X=L") ||
                                        str.includes("X=R") || str.includes("HTTPS://D1G2OUDKNJS8JF.CLOUDFRONT.NET")) {

                                        $("#imageFrameList").hide();
                                        $("#downloadImage").hide();
                                        OverseasBindMultiImages(data.Overseas_Image_Download_Link, data.Overseas_Image_Download_Link1, data.Overseas_Image_Download_Link2, data.Overseas_Image_Download_Link3)
                                    }
                                    else {
                                        $("#imageList").hide();
                                        $("#imageFrameList").show();
                                        $("#downloadImage").hide();
                                        document.getElementById("imageFrameList").src = __img + "&resize=500";
                                    }
                                }
                                else {
                                    $("#imageList").hide();
                                    $("#imageFrameList").hide();
									if (GetURLParameter("DT") != "M") {
										$("#downloadImage").show();
									}
                                    bindImages(data.certi_no);

                                    //setTimeout(function () {
                                    //    $('img.light-zoom').lightzoom({
                                    //        zoomPower: 3,    //Default
                                    //        glassSize: 150,  //Default
                                    //    });
                                    //    $('.slick-arrow').addClass('img-next-prev-btn');
                                    //    //$('#ifVideo')[0].style.width = "365px";
                                    //    //$('#video1')[0].style.width = "365px";

                                    //}, 1200);
                                }
                                $("#imgNoAvail").hide();
                            }
                            else {
                                $("#imgNoAvail").show();
                            }
                            $("#downloadVdo").hide();
                            if (data.sVdoLink != null && data.sVdoLink != "") {
                                if (data.IsOverseas == "0" && data.bMP4 == true) {
                                    if (GetURLParameter("DT") != "M") {
										$("#downloadVdo").show();
									}
                                    videolink = "https://4e0s0i2r4n0u1s0.com/vfiles/imaged/" + data.p_seq_no + "/video.mp4";
                                }
                                else {
                                    $("#downloadVdo").hide();
                                }
                                let str = data.sVdoLink.toUpperCase();
                                if (!str.includes("VIEWMEDIA")) {
                                    if (str.includes("HTTPS://DYFFW9LB8WUR6.CLOUDFRONT.NET")) {
                                        $("#ifVideo").parent().show();
                                        $("#ifVideo").attr('src', data.sVdoLink);
                                        $("#ifVideo")[0].style.height = "515px";
                                    }
                                    else if (str.includes("HTTPS://STONESERVER.S3.AMAZONAWS.COM/HD/VIEWHD.HTML")) {
                                        $("#ifVideo").parent().show();
                                        $("#ifVideo").attr('src', data.sVdoLink);
                                        $("#ifVideo")[0].style.height = "490px";
                                        
                                    }
                                    else if (str.includes("HTTPS://MEDIA.HDFILES.IN")) {
                                        $("#ifVideo").parent().show();
                                        $("#ifVideo").attr('src', data.sVdoLink);
                                        $("#ifVideo")[0].style.height = "490px";

                                    }
                                    else {
                                        bindVideos(data.certi_no, data.p_seq_no);
                                        $("#ifVideo")[0].style.height = "475px";
                                    }
                                }
                                else {
                                    //$("#ifVideo")[0].style.height = "650px";
                                    if (str.includes("VIEWMEDIA?X=M")) {
                                        $("#ifVideo")[0].style.height = "560px";
                                    }
                                    if (str.includes("VIEWMEDIA?X=E")) {
                                        $("#ifVideo")[0].style.height = "517px";
                                    }
                                    if (str.includes("VIEWMEDIA?X=C")) {
                                        $("#ifVideo")[0].style.height = "678px";
                                    }
                                    if (str.includes("VIEWMEDIA?X=I")) {
                                        $("#ifVideo")[0].style.height = "711px";
                                    }
                                    if (str.includes("VIEWMEDIA?X=D")) {
                                        $("#ifVideo")[0].style.height = "546px";
                                    }
                                    if (str.includes("VIEWMEDIA?X=R")) {
                                        $("#ifVideo")[0].style.height = "600px";
                                    }
                                    if (str.includes("VIEWMEDIA?X=K")) {
                                        $("#ifVideo")[0].style.height = "515px";
                                    }
                                    if (str.includes("VIEWMEDIA?X=L")) {
                                        $("#ifVideo")[0].style.height = "515px";
                                    }
                                    $("#ifVideo").parent().show();
                                    $("#ifVideo").attr('src', data.sVdoLink);
                                }
                                $("#vdoNoAvail").hide();
                            }
                            else {
                                if (GetURLParameter("DT") != "M") {
									$("#vdoNoAvail").show();
								}
                            }
                            bindCerti(data.Overseas_Certi_Download_Link != null && data.Overseas_Certi_Download_Link != "" ? data.Overseas_Certi_Download_Link : data.view_certi_url);

                            if (GetURLParameter("T") == "I") {
                                showMedia("Image");
                            }
                            else if (GetURLParameter("T") == "V") {
                                showMedia("Video");
                            }
                            else if (GetURLParameter("T") == "C") {
                                showMedia("PDF");
                            }
                            else {
                                showMedia("Image");
                            }
                            $('.loading-overlay-image-container').hide();
                            $('.loading-overlay').hide();
                        }
                        if (GetURLParameter("DT") == "M") {
                            $("#divHead").hide();
                            $("#downloadVdo").hide();
							$("#downloadImage").hide();
                            $("#downloadVdo").hide();
                        }
						else {
							$("#divHead").show();
						}
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $('.loading-overlay-image-container').hide();
                        $('.loading-overlay').hide();
                        NotAvail(GetURLParameter("StoneId"));
                    }
                });
            }
            else {
                NotAvail("");
            }
        }
        function NotAvail(sRefNo) {
            if (sRefNo != "") {
                var msg = "Data not available for this Stone Id " + sRefNo;
                $(".container").html('<div style="margin-top: 50px;"><center><span style="font-size: 25px;font-weight: 600;">' + msg + '</span></center></div>');
            }
            else {
                $(".container").hide();
            }

        }
    </script>
</body>

</html>