
@{
    ViewBag.Title = "ConfirmOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ClassName = "search-contnt";
    <link href="~/Content/css/daterangepicker.css" rel="stylesheet" />
}
<div class="container-fluid order-history-section">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="order-title">
                <h2>Confirm Order Master</h2>
            </div>
        </div>
    </div>
    <div class="order-history-data admin">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 float-left mb-2">
                    <div class="order-date common-order">
                        <div class="offer-label">Date:</div>
                        <input type="text" id="txtFromDate" name="From" value="" class="offer-input" autocomplete="off" />
                        <input type="text" id="txtToDate" name="To" value="" class="offer-input" autocomplete="off" />
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 float-left mb-2">
                    <div class="order-company-name common-order">
                        <div class="offer-label">Company:</div>
                        <input id="txtCompanyName" placeholder="Company Name / User Name" type="text" class="form-control common-control" autocomplete="off">
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 float-left mb-2">
                    <div class="order-company-name common-order">
                        <div class="offer-label">Assist:</div>
                        <select id="ddlAssist" name="ddlAssist" multiple class="form-control common-control" style="height:100px;">
                        </select>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 float-left mb-2">
                    <div class="order-company-name common-order">
                        <div class="offer-label">Stock Id:</div>
                        <input placeholder="Stock Id / Order No / Certificate No" type="text" id="txtRefNo" class="form-control common-control" autocomplete="off">
                    </div>
                </div>
                <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 col-12 float-left">
                    <div class="offer-label">&nbsp;</div>
                    <ul class="offer-inbtn pull-right src-rest-topbtn" style="margin-top:0px;">
                        <li style="margin-top:0px;">
                            <button id="btnSearch" class="offer-btn"><i class="fa fa-search" aria-hidden="true"></i>Search</button>
                        </li>
                        <li style="margin-top:0px;">
                            <button class="offer-btn" onclick="SaveData()"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save </button>
                        </li>
                        <li style="margin-top:0px;">
                            <button class="offer-btn" onclick="ExcelData()"><i class="fa fa-file-excel-o" aria-hidden="true"></i>Excel </button>
                        </li>
                        <li style="margin-top:0px;">
                            <button class="offer-btn" onclick="ResetData()"><i class="fa fa-refresh" aria-hidden="true"></i>Reset </button>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="aggrid-section">
        <div class="row">
            <div class="col-xl-12">
                <!---- =============== start ag-grid =============== ---->
                <div id="myGrid" style="width: 100%;" class="ag-theme-balham">
                </div>

                @*<div class="gridpage_info" id="SearchStone1_info" role="status" aria-live="polite">Showing 1 to 100 of 50 entries</div>*@
                <!---- =============== end ag-grid ================= ----->
            </div>
        </div>
    </div>

</div>

@section scripts{
    <script src="~/Content/js/moment.min.js"></script>
    <script src="~/Content/js/daterangepicker.min.js"></script>
    <script src="~/Content/js/ag-grid-enterprise.min.js"></script>
    <script src="~/Content/js/Pages/detailCellRenderer.js"></script>
    <script src="~/Content/js/Pages/ConfirmOrder.js"></script>
}